<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gift.Data.Properties.Settings.connect" connectionString="Data Source=PC199109\SQLEXPRESS;Initial Catalog=gift;Persist Security Info=True;User ID=sa;Password=password-1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>