<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="W2"
            connectionString="Data Source=PC199109\SQLEXPRESS;User ID=sa;Password=password-1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>